body{
    background-image:url('../images/Product_Icon-Red_Hat-OpenShift-GitOps-RGB.png') ;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
  }
  h2{
    color: brown;
    text-decoration: underline;
    font-style: italic;
  }